
<div class="container mt-4">
    <!-- Display search results or the list of blocs -->
    <div *ngIf="searchResults.length > 0; else blocList">
      <!-- Display search results if any -->
    </div>
  
    <!-- Bloc list -->
    <ng-template #blocList>
      <!-- Bloc Form always visible -->
      <div>
        <h2 class="mt-3">Add Bloc</h2>
        <form #blocForm="ngForm" (ngSubmit)="addBloc(newBloc)">
          <label for="nomBloc">Bloc Name:</label>
          <input type="text" id="nomBloc" name="nomBloc" [(ngModel)]="newBloc.nomBloc" class="form-control" required pattern="[A-Za-z].*">
          <div *ngIf="blocForm.controls['nomBloc']?.hasError('pattern')" style="color: red;">
            Bloc name must start with a letter.
          </div>
  
          <label for="capacitebloc">Capacity:</label>
          <input type="text" id="capacitebloc" name="capacitebloc" [(ngModel)]="newBloc.capacitebloc" class="form-control" required pattern="[0-9999].*">
          <div *ngIf="blocForm.controls['capacitebloc']?.hasError('pattern')" style="color: red;">
            Bloc capacity contain only numbers
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!blocForm.valid">Add</button>
        </form>
      </div>
    </ng-template>
  
    <ng-template #noData>
      <p>No blocs available.</p>
    </ng-template>
  </div>
  