

    <br>    <br>
    <br>
    

    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <section
               class="d-flex justify-content-between p-4 text-black"
               style="background-color: #76c9f5"
               >
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
       
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
    
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h4 class="text-uppercase fw-bold">Esprit Foyer</h4>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Explore our all-in-one platform that streamlines the management of students,
                 universities, dormitories, reservations, blocks, and rooms. An immersive user 
                 experience for easy room reservations in our dormitories.
              </p>
            </div>
        
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h4 class="text-uppercase fw-bold">Services</h4>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">University</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Foyer</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Student</a>
              </p>
              
            </div>
            
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h4 class="text-uppercase fw-bold">Links</h4>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">Reservation</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Bloc</a>
              </p>
             
              <p>
                <a href="#!" class="text-dark">Chamber</a>
              </p>
            </div>
          
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h4 class="text-uppercase fw-bold ">Contact</h4>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Tunisie,Tunis,Ariana</p>
              <p><i class="fas fa-envelope mr-3"></i> Espritfoyer@esprit.tn</p>
              <p><i class="fas fa-phone mr-3"></i> (+216) 29 225 165</p>
            </div>
          </div>
        </div>
      </section>
      
      <div
           class="text-center p-3 fw-bold"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright: Esprit Foyer
       
          
      </div>
    </footer>
    