<!-- add-user.component.html -->

<div class="container">
  <div class="sidebar">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="form-container">
      <label for="nomUser">FirstName:</label>
      <input type="text" id="nomUser" name="nomUser" ngModel required>
      <div *ngIf="userForm.controls['nomUser']?.touched && userForm.controls['nomUser']?.hasError('required') " style="color: red;" >
        FirstName is required.
      </div>

      <label for="prenomUser">LastName:</label>
      <input type="text" id="prenomUser" name="prenomUser" ngModel required>
      <div *ngIf="userForm.controls['prenomUser']?.touched && userForm.controls['prenomUser']?.hasError('required')" style="color: red;">
        LastName is required.
      </div>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required email>
      <div *ngIf="userForm.controls['email']?.touched && userForm.controls['email']?.hasError('required')" style="color: red;">
        Email is required.
      </div>
      <div *ngIf="userForm.controls['email']?.touched && userForm.controls['email']?.hasError('email')" style="color: red;">
        Write a valid Email.
      </div>

      <label for="motdepasse">Password:</label>
      <input type="password" id="motdepasse" name="motdepasse" ngModel required minlength="6">
      <div *ngIf="userForm.controls['motdepasse']?.touched && userForm.controls['motdepasse']?.hasError('required')" style="color: red;">
        Mot de passe is required.
      </div>
      <div *ngIf="userForm.controls['motdepasse']?.touched && userForm.controls['motdepasse']?.hasError('minlength')" style="color: red;">
        Mot de passe doit contenir au moins 6 caractères.
      </div>

      <label for="role">Role:</label>
      <select id="role" name="role" ngModel required>
        <option value="ADMIN">ADMIN</option>
        <option value="RESPONSABLE">RESPONSABLE</option>
        <option value="ETUDIANT">ETUDIANT</option>
      </select>
      <div *ngIf="userForm.controls['role']?.touched && userForm.controls['role']?.hasError('required')" style="color: red;">
        Role is required.
      </div>

      <div class="submit-button">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="userForm.invalid">Ajouter Utilisateur</button>
      </div>
    </form>
  </div>
</div>
